.home{
    width: 1360px;
    column-count: 4;
    -webkit-column: 4;
    column-fill: balance;
    column-gap: 40px;
    margin: 40px auto 0px auto;
}

.gallery{
    position: relative;
    height: auto;
    cursor: pointer;
    margin-bottom: 40px;
    overflow: hidden;
}

.gallery_image{
    display: block;
    width: 100%;
    object-fit: contain;
}

.gallery_content{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.84) 100%);
    width: 100%;
    height: 170px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 7px;
    position: absolute;
    z-index: var(--closer);
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
}

.gallery_title{
    width: 85%;
    color: #FFF;
    margin: 0px;
    font-family: var(--font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gallery_author{
    width: 85%;
    color: rgba(255, 255, 255, 0.7528);
    margin: 0px;
    font-family: var(--font);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: var(--close);
    opacity: 0.5;
    background-color: transparent;
    top: 0px;
    left: 0px;
}

.overlay:hover{
    background-color: rgba(255, 255, 255, 1);
}

@media(max-width: 1400px){
    .home{
        width: 93%;
    }

    .gallery{
        width: 100%;
    }
}

@media(max-width: 1300px){
    .home{
        column-gap: 20px;
    }

    .gallery{
        margin-bottom: 20px;
    }

    .gallery_title{
        font-size: 1.3rem;
    }
}

@media(max-width: 1050px){
    .home{
        column-count: 3;
        -webkit-column-count: 3;
    }
}

@media(max-width: 950px){
    .home{
        column-count: 2;
        -webkit-column-count: 2;
        column-gap: 40px;
    }

    .gallery{
        margin-bottom: 40px;
    }

    .gallery_title{
        font-size: 1.5rem;
    }
}

@media(max-width: 700px){
    .home{
        width: 90%;
        margin-top: 23px;
        column-count: 1;
        -webkit-column-count: 1;
    }

    .gallery{
        margin-bottom: 23px;
    }
}