.header{
    width: 1360px;
    height: 128px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header_content{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: none;
}

.header_logo{
    width: 169.56px;
    height: 48px;
    cursor: pointer;
}

.header_startSlideshow{
    padding: 0px;
    color: #7D7D7D;
    text-align: right;
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.571px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_startSlideshow:hover{
    color: black;
}

@media(max-width: 1400px){
    .header{
        width: 93%;
    }
}

@media(max-width: 950px){
    .header{
        width: 100%;
        height: 88px;
    }

    .header_content{
        width: 93%;
    }

    .header_logo{
        width: 113.04px;
        height: 32px;
    }
}

@media(max-width: 700px){
    .header{
        height: 79px;
    }
    
    .header_content{
        width: 90%;
    }

    .header_startSlideshow{
        font-size: 0.5625rem;
    }
}