.gallery{
    width: 1360px;
    padding-right: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 139px auto;
    position: relative;
}

.gallery_heading{
    position: relative;
}

.gallery_image{
    width: 475px;
    height: 560px;
    display: block;
}


.gallery_title{
    position: absolute;
    z-index: var(--far);
    padding: 0px 0px 67px 65px;
    top: 0px;
    right: -380px;
    width: 445px;
    min-height: 174px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.gallery_title h1{
    margin: 0px;
    color: #000;
    font-family: var(--font);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
}

.gallery_title h2{
    margin: 0px;
    color: #7D7D7D;
    font-family: var(--font);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.gallery_author{
    width: 128px;
    height: 128px;
    position: absolute;
    z-index: var(--even-closer);
    right: -158px;
    bottom: -64px;
}

.gallery_content{
    width: 350px;
    position: relative;
}

.gallery_desc{
    margin: 0px;
    color: #7D7D7D;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    position: relative;
    z-index: var(--closer);
}

.gallery_year{
    color: #F3F3F3;
    text-align: right;
    font-family: var(--font);
    font-size: 12.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150px; /* 75% */
    position: absolute;
    z-index: var(--close);
    top: -115px;
    left: 0px;
}

.gallery_source{
    position: absolute;
    bottom: -92px;
    left: 0px;
    color: #7D7D7D;
    font-family: var(--font);
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.929px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.gallery_source:hover{
    color: black;
}

@media(max-width: 1400px){
    .gallery{
        width: 93%;
        padding-right: 125px;
        gap: 0px;
        justify-content: space-between;
    }
}

@media(max-width: 1380px){
    .gallery{
        padding: 0px;
    }

    .gallery_year{
        font-size: 9.375rem;
        top: -100px;
    }

    .gallery_title{
        width: 345px;
        right: -280px;
    }   

    .gallery_title h1{
        font-size: 2.8125rem;
        line-height: 55px;
    }
}

@media(max-width: 1170px){
    .gallery_image{
        width: 375px;
        height: 460px;
    }

    .gallery_content{
        width: 300px;
    }

    .gallery_year{
        font-size: 8rem;  
        top: -90px; 
    }
    .gallery_title{
        width: 245px;
        right: -180px;
    }

    .gallery_title h1{
        font-size: 2.4rem;
    }

}

@media(max-width: 950px){
    .gallery{
        margin: 40px auto 104px auto;
        flex-direction: column;
        gap: 139px;
    }

    .gallery_heading{
        align-self: start;
    }

    .gallery_image{
        width: 475px;
        height: 560px;
    }

    .gallery_title{
        width: 445px;
        right: -213px
    }

    .gallery_author{
        bottom: 130px;
    }

    .gallery_title h1{
        font-size: 3.5rem;
        line-height: 64px;
    }

    .gallery_content{
        width: 457px;
    }

    .gallery_year{
        font-size: 12.5rem;
        left: -115px;
        top: -75px;
    }

    .gallery_source{
        bottom: -51px;
    }
}

@media(max-width: 730px){
    .gallery_title{
        width: 400px;
        right: -168px;
    }
}

@media(max-width: 700px){
    .gallery{
        width: 90%;
        gap: 172px;
        margin-bottom: 146px;
    }

    .gallery_image{
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    .gallery_title{
        width: 85%;
        min-height: 80px;
        padding: 24px 24px 0px 24px;
        justify-content: start;
        gap: 8px;
        top: initial;
        right: initial;
        bottom: -28px;
        left: 0px;
    }

    .gallery_title h1{
        font-size: 1.5rem;
        line-height: 29px;
    }

    .gallery_author{
        width: 64px;
        height: 64px;
        bottom: -118px;
        right: initial;
        left: 0px;
    }

    .gallery_content{
        width: 100%;
    }

    .gallery_year{
        font-size: 6.25rem;
        left: initial;
        right: 0px;
        top: -100px;
    }

    .gallery_source{
        bottom: -79px;
    }
}